Options All -Indexes

RewriteEngine On

RewriteRule ^([-a-zA-Z0-9]+)$ index.php?route=$1










# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:LH8FJrg0Wq
allow from 192.168.1.245
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE LH8FJrg0Wq:IPALLOWID




# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:4zxbHMPs5l
allow from 192.168.1.221
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE 4zxbHMPs5l:IPALLOWID




# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:cNQszP4al3
allow from 192.168.1.197
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE cNQszP4al3:IPALLOWID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:refSkoaiRF
allow from 192.168.1.80
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE refSkoaiRF:IPALLOWID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:mG2gsm5LGI
allow from 192.168.1.2
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE mG2gsm5LGI:IPALLOWID

